@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

   <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="~/img/logo.png" class="d-block mx-lg-auto img-fluid" alt="Visual Studio Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Visual studio for building modern web apps.</h1>
        <p class="lead">There are powerful new features in Visual Studio for building web apps with ASP.NET Core.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="https://docs.microsoft.com/aspnet/core" class="btn btn-outline-primary btn-lg px-4 me-md-2">Learn more <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>

